# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Virtual Environments
# =========================
venv/
.venv/
env/
ENV/

# =========================
# Datasets / Large Files
# =========================
MODELS/
DATASET/
brisc2025/

# =========================
# Generated Images / Outputs
# =========================


# =========================
# Logs
# =========================
*.log

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Python Cache / Build
# =========================
*.egg-info/
dist/
build/

# =========================
# Temporary Files
# =========================
*.tmp
*.temp